<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>HTML FORMS</h1>
        <form action="" method="POST">
            {% csrf_token %}

            <label for="un">username</label>
            <input type="text" name="un" id="un"> <br>

            <label for="pw">password</label>
            <input type="password" name="pw" id="pw"> <br>

            <input type="submit">
        </form>
    </center>
</body>
</html>