<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>retrive_access</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <label for="n">name :</label>
            {% for ao in WTO %}
            <input type="checkbox" name="n" id="n" value="{{ao.id}}">{{ao.name}}
             <br><br>
           
            {% endfor %}
            <br><br>
            <input type="submit" value="retrive_access">
            
        </form>
    </center>
</body>
</html>