<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>retriveing data from webpage</h1>

        <form method="POST">
            {% csrf_token %}

            <label for="topic">topic_name:</label>

           <!---- <select name="topic" id="topic" multiple>
                <option value="{{to}}">-----</option>
                {% for to in LTO %}
                <option value="{{to}}">{{to.topic_name}}</option>
                
                {% endfor %}
            </select><br><br>-->
            {% for to in LTO %}
            <input type="radio" name="topic" value="{{to}}">{{to.topic_name}}
            {% endfor %}
            <br><br>
            <input type="submit" value="retrive_webpage">

        </form>
    
            
    </center>
</body>
</html>